<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Turtle Cam</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <div class="container">
        <div class="header">
            <h1>TURTLE CAM</h1>
        </div>
        <div class="nav">
            <a href="{{ url_for('home') }}">Home</a>
            <a href="{{ url_for('download') }}">Download</a>
            <a href="{{ url_for('upload_file') }}">Upload</a>
        </div>
        <div class="image-section">
            <img src="{{ url_for('static', filename='turtle.png') }}" alt="Image of the Product">
        </div>
        <div class="status">
            <h3>Raspberry Pi Status</h3>
            <p><strong>Memory Usage:</strong> {{ status['memory'] }}%</p>
            <p><strong>Disk Usage:</strong> {{ status['disk'] }}%</p>
            <p><strong>Uptime:</strong> {{ status['uptime'] }}</p>
        </div>
        <div class="content">
            <h2>What is the Turtle Cam?</h2>
        <p>The Turtle Cam is a budget-friendly, waterproof camera designed to be securely attached to freshwater turtles, allowing researchers to observe their daily activities in their natural habitat. Its programmable features let you schedule video recordings or image captures at customizable intervals and durations. Additionally, the camera includes a delayed start function, providing ample time for setup before recording begins.</p>
        
        <p>To configure your device, navigate to the <strong>Upload</strong> tab, where you can set up recording schedules and preferences. To retrieve the captured footage, click the <strong>Download</strong> tab to seamlessly transfer files from the Turtle Cam’s SD card to your local device.</p>

        <h2>Why We Created the Turtle Cam</h2>
        <p>The Turtle Cam was developed to support research efforts focused on the preservation of freshwater turtles. By recording their behaviors, movement patterns, and mating habits, researchers can gain valuable insights that contribute to conservation strategies and habitat protection efforts.</p>
        </div>
        
    </div>
</body>
</html>
